@charset "utf-8"

body
  background-color: #080820
  background-image: url('/images/blue-denham.png')
  color: #ffa
  margin: 0
  padding: 0
  
  #content
    width: 900px
    margin: 0 auto
    padding: 1em
