@import url(//fonts.googleapis.com/css?family=Lato:400,400italic|Nova+Square);
/* line 8, /Users/bkerley/Documents/golden-flag/source/stylesheets/all.css.sass */
body {
  background-color: #080820;
  background-image: url("/images/blue-denham.png");
  color: #f5e8a3;
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, sans-serif, Arial; }
  /* line 16, /Users/bkerley/Documents/golden-flag/source/stylesheets/all.css.sass */
  body #content {
    width: 900px;
    margin: 0 auto;
    padding: 1em; }
    /* line 21, /Users/bkerley/Documents/golden-flag/source/stylesheets/all.css.sass */
    body #content h1, body #content h2, body #content h3, body #content h4, body #content h5, body #content h6 {
      font-family: "Nova Square", Avenir, Helvetica, sans-serif, Arial; }
    /* line 24, /Users/bkerley/Documents/golden-flag/source/stylesheets/all.css.sass */
    body #content #titles {
      float: right;
      width: 400px;
      font-size: 2em;
      margin-left: 1em;
      color: #FFD700; }
      /* line 30, /Users/bkerley/Documents/golden-flag/source/stylesheets/all.css.sass */
      body #content #titles h1:first-child {
        margin-top: 0; }
    /* line 33, /Users/bkerley/Documents/golden-flag/source/stylesheets/all.css.sass */
    body #content #main {
      padding-right: 1em; }
